extends layout 
include mixins/chart

block content 
  div DayCandleReset
  a(href="/") home
  div chart 
    if formattedCandleData
      h2=formattedCandleData.marketCodeFull
      each data in formattedCandleData
        div 
          +chart(data)